body {
    background-color: #F9F9E0;
}

nav {
    background-color: #F875AA;
}

#home {
    background-color: #FFDFDF;
}

.card-body {
    background-color: #FFDFDF;
}

#contact {
    background-color: #FFDFDF;
}